<html>
<body>

<form action="/app_dev.php/file/uploadimage" method="post" enctype="multipart/form-data">
<label for="file">Filename:</label>
<input type="file" name="imageFile" id="imageFile" /> 
<br />
<input type="submit" name="submit" value="Submit" />
</form>

</body>
</html>