<div>
	<h2>API Test</h2>
</div>

<div>
	<ul>
		<li style="margin-bottom:5px"><a href="machine" target="page">机器</a></li>
		<li style="margin-bottom:5px"><a href="user" target="page">用户</a></li>
		<li style="margin-bottom:5px"><a href="business" target="page">业务经营统计</a></li>
		<li style="margin-bottom:5px"><a href="useradmin" target="page">useradmin</a></li>
		<li style="margin-bottom:5px"><a href="post" target="page">登陆界面</a></li>
		<li style="margin-bottom:5px"><a href="follow" target="page">关注</a></li>
		<li style="margin-bottom:5px"><a href="calllist" target="page">通话记录</a></li>
		<li style="margin-bottom:5px"><a href="usercenter" target="page">超级管理员</a></li>
		<li style="margin-bottom:5px"><a href="category" target="page">类别</a></li>
		<li style="margin-bottom:5px"><a href="brand" target="page">品牌</a></li>
		<li style="margin-bottom:5px"><a href="driver" target="page">招聘</a></li>
		<li style="margin-bottom:5px"><a href="area" target="page">地区</a></li>
		<li style="margin-bottom:5px"><a href="image" target="page">图片上传</a></li>
		<li style="margin-bottom:5px"><a href="leaveword" target="page">用户留言</a></li>
		<li style="margin-bottom:5px"><a href="push" target="page">推送</a></li>
		
	</ul>
</div>
