{% extends 'YdzyJxBundle:Jx:layout.html.twig' %}
{% block body %}
<?php ?>
  <div class="col-sm-12" style="padding-top:30px;">
	<div style="padding:100px;" align="center">
    <ul style="height:210px; width:500px;">
        <li style="text-align:center;float:left;"><img id="android" width=200 src="/bundles/jxbundle/images/apk.png" /><br /><span style="color:#b40202;">立即下载手机客户端</li>
        <li style="text-align:center;float:right;"><img width=200 src="{{ asset('bundles/jxbundle/images/weixin.png') }}" /><br /><span style="color:#b40202;">关注微信公众号</li>
        </ul><br />
        <img  width=70% src="/bundles/jxbundle/images/email.png" />
        
    </div>
  </div>
{% endblock %}